.main{
  width: 100%;
  /*border: solid black 1px;*/
}

/*navigation options are here*/
nav{
  background-color: white;
  position: fixed;
  height: 100%;
  z-index: 1;
  overflow-x: hidden;
  width: 15%;
  /*border: solid black 1px;*/
  display: inline-block;
}


.logo{
  width: 100%;
  /*border: solid green 1px;*/
  margin: auto;
}

.logo img{
  width: 70%;
  margin: auto;
  display: block;
}

.nav-list{
  list-style-type: none;
}

.nav-list li a:hover{
  color: green;
}

/*navigation ends here*/

#main{
  margin-left: 16%;
  border: solid black 1px;
}

.container{
  /*border: solid black 1px;*/
  display: inline-block;
  vertical-align: top;
  width: 100%;
  background-image: url("images/treetestpaint.jpg");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#about{
  /*border: solid black 1px;*/
  display: inline-block;
  vertical-align: top;
  width: 100%;
  background-image: url("images/treetestpaint.jpg");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

#gallery{
  /*border: solid black 1px;*/
  display: inline-block;
  vertical-align: top;
  width: 100%;
  background-image: url("images/treetestpaint.jpg");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

#contacts{
  /*border: solid black 1px;*/
  display: inline-block;
  vertical-align: top;
  width: 100%;
  background-image: url("images/treetestpaint.jpg");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.container1{
  /*border: solid black 1px;*/
  display: inline-block;
  vertical-align: top;
  width: 100%;
  background-image: url("images/sample.jpg");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.info{
  width: 100%;
  height: 500px;
  display: inline-block;
  /*border: solid blue 1px;*/
  vertical-align: top;
  text-align: center;
}

/*gallery images*/
.image-box img{
  height: 100px;
  width: 100px;
  border: solid black 1px;
}

.gallery-container{
  border: solid black 1px;
  margin-left: 16%;
}
