.main{
  width: 100%;
  /*border: solid black 1px;*/
}

/*navigation options are here*/
nav{
  background-color: white;
  position: fixed;
  height: 100%;
  z-index: 1;
  overflow-x: hidden;
  width: 15%;
  /*border: solid black 1px;*/
  display: inline-block;
}

.logo{
  width: 100%;
  /*border: solid green 1px;*/
  margin: auto;
}

.logo img{
  width: 70%;
  margin: auto;
  display: block;
}

.nav-list{
  list-style-type: none;
}

.nav-list li a:hover{
  color: green;
}

/*navigation ends here*/

#main{
  margin-left: 16%;
}

#about{
  /*border: solid black 1px;*/
  display: inline-block;
  vertical-align: top;
  width: 100%;
  background-image: url("images/sample.jpg");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  padding: 0 20px;
}

#about h1{
  color: rgba(255, 255, 255, 0.8);
  font-size: 100px;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  color: white;
}



#gallery{
  /*border: solid black 1px;*/
  display: inline-block;
  vertical-align: top;
  width: 100%;
  background-image: url("images/sample2.jpg");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

#contacts{
  /*border: solid black 1px;*/
  display: inline-block;
  vertical-align: top;
  width: 100%;
  background-image: url("images/treetestpaint.jpg");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.info{
  width: 100%;
  /*height: 500px;*/
  display: inline-block;
  /*border: solid blue 10px;*/
  vertical-align: top;
  text-align: center;
}

/*gallery box on main page*/
.gallery-box{
  border: solid black 1px;
  display: inline-block;
  height: 160px;
  width: 160px;
  margin: 20px;
  background-color: #fefbf7;
}

.gallery-box:hover{
  transform: scale(1.5, 1.25);
  -moz-transform: scale(1.5, 1.25);
  -ms-transform: scale(1.5, 1.25);
  -webkit-transform: scale(1.5, 1.25);
  -o-transform: scale(1.5, 1.25);
}

.gal-box-box{
  display: inline-block;
}
